{% extends 'core/index.html' %}
{%block content%}
{% load bootstrap4 %}
{% load static %}
{%load crispy_forms_tags%}
{% load jformat %}

{% comment %} <div class="content-i"> {% endcomment %}
    <div class="element-wrapper">
        <div class="element-box">
            {% include "core/message.html" %}
            <div class="steps-w">
                <div class="step-triggers">
                    <a class="step-trigger active" href="#stepContent1">ثبت مشخصات ملک</a>
                    <a class="step-trigger" href="#stepContent2">مشخصات سندی ملک</a>
                    <a class="step-trigger" href="#stepContent3">موقعیت جغرافیایی</a>
                </div>
                <div class="step-contents">
                    <form action="{% url 'core:melk_insert' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="step-content active" id="stepContent1">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for=""> نام ملک</label>
                                        {{form.melk_name}}
                                        {% comment %} <input class="form-control" placeholder="نام ملک" type="text"> {% endcomment %}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">نام واگذار کننده</label>
                                        {{form.khayer_name}}
                                        {% comment %} <input class="form-control" placeholder="نام واگذار کننده" type="text"> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">شماره سند اصلی</label>
                                        {{form.sanad_asli}}
                                        {% comment %} <input class="form-control" placeholder="شماره سند اصلی" type="text"> {% endcomment %}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for=""> شماره سند فرعی</label>
                                        {{form.sanad_farye}}
                                        {% comment %} <input class="form-control" placeholder="شماره سند فرعی" type="text"> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">نوع سند واگذاری</label>
                                        {{form.sanad_type}}

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for=""> وضعیت کنونی ملک</label>
                                        {{form.melk_state}}

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">نوع کاربری</label>
                                        {{form.melk_karbari}}

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for=""> متولی ملک</label>
                                        {{form.melk_motavali}}

                                    </div>
                                </div>
                            </div>
                            <div class="form-buttons-w text-right">
                                <a class="btn btn-primary step-trigger-btn" href="#stepContent2"> ادامه</a>
                            </div>
                        </div>


                        <div class="step-content" id="stepContent2">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="date-input">
                                        <label for=""> سال واگذاری ملک</label>
                                        {{form.melk_year|jformat:"%A %d %B %Y %H:%M"}}

                                        {% comment %} <input class="form-control" placeholder="سال واگذاری" type="text"> {% endcomment %}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">ارزش ریالی ملک</label>
                                        {{form.melk_price}}
                                        {% comment %} <input class="form-control" placeholder="ارزش ریالی" type="number"> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for=""> عرصه ملک</label>
                                        {{form.melk_arseh}}
                                        {% comment %} <input class="form-control" placeholder="عرصه ملک" type="text"> {% endcomment %}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">اعیان ملک</label>
                                        {{form.melk_ayan}}
                                        {% comment %} <input class="form-control" placeholder="اعیان ملک" type="text"> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                <label>   توضیحات سند</label>
                                    <div class="form-group">
                                        {{form.melk_comment|safe}}
                                        {{form.media}}
                                        {% comment %} <textarea class="form-control" rows="3"></textarea> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>   بارگزاری تصویر سند</label>

                                        {% comment %} <input type="file" name="myfile"> {% endcomment %}
                                        {{form.melk_pic}}
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {%if post.melk_pic %}
                                                <img src="{{ post.melk_pic.url}}" class="img-fluid"> تصویر سند </img>
                                            {%endif%}

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-buttons-w text-right">
                                <a class="btn btn-primary step-trigger-btn" href="#stepContent3"> ادامه</a>
                            </div>
                        </div>

                        <div class="step-content" id="stepContent3">


                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for=""> استان</label>
                                        {% comment %} <select class="form-control" >
                                            {% for ostan in ostans %}
                                                <option value="{{ ostan.pk }}">{{ ostan.name}}</option>
                                            {% endfor%}
                                        </select> {% endcomment %}
                                         {{form.ostan}} 

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for=""> شهرستان</label>
                                        {% comment %} <select class="form-control" >
                                            {% for city in cities %}
                                                <option value="{{ city.pk }}">{{ city.name}}</option>
                                            {% endfor%}
                                        </select> {% endcomment %}

                                        {{form.city}} 

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for=""> نام دهستان / روستا</label>
                                        {% comment %} <select class="form-control" >
                                            {% for rosta in rostas %}
                                                <option value="{{ rosta.pk }}">{{ rosta.name}}</option>
                                            {% endfor%}
                                        </select> {% endcomment %}
                                        {{form.rosta}}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">کد پستی</label>
                                        {{form.post_code}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">  آدرس :</label>
                                {{form.address}}
                            </div>
                            <div class="element-box">
                                <h5 class="form-header">
                                    بارگزاری نقشه جغرافیایی سند
                                </h5>

                                {{form.melk_gps}}
                            </div>


                            <div>







 

                            {% comment %} <input type="file" name="myfile">
                             <div id='map' style='width: 400px; height: 300px;'></div>
                <script>
                    mapboxgl.accessToken = {{ mapbox_access_token }};
                    var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v10',
                    center: [-77.03, 38.91],
                    zoom: 9
                    });   
                </script> {% endcomment %}
                            <div class="form-buttons-w text-right">
                                <button class="btn btn-primary">ثبت اطلاعات</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}